@import '/styles/reset.css';
@import '/styles/fonts.css';
body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.corner-button {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.3rem;
  cursor: pointer;
  background: transparent;
  border: 0.2rem solid currentColor;
  padding: 3rem 1rem;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6549019608);
  position: relative;
  transition: color 0.2s;
  z-index: 1;
  display: inline-block;
}
.corner-button:hover::before {
  width: 0;
}
.corner-button:hover::after {
  height: 0;
}
.corner-button:active {
  color: #e1f8f6;
}
.corner-button::before, .corner-button::after {
  content: "";
  position: absolute;
  background: #e1f8f6;
  z-index: -1;
  transition: all 0.2s;
}
.corner-button::before {
  width: calc(100% - 4rem);
  height: calc(101% + 0.4rem);
  top: -0.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.corner-button::after {
  height: calc(100% - 4rem);
  width: calc(101% + 0.4rem);
  left: -0.2rem;
  top: 50%;
  transform: translateY(-50%);
}

/* CSS */
.button-89 {
  --b: 3px; /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

.modal-container {
  position: fixed;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 244px;
  height: 144px;
  background-color: rgb(225, 244, 251);
  border: 3px solid rgba(0, 0, 0, 0.9137254902);
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  z-index: 1000;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  animation: appear 300ms ease-in 1;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
.highScore {
  font-weight: bold;
}

.correct {
  background: rgb(202, 226, 255);
}

.incorrect {
  background: rgb(202, 226, 255);
}

.container {
  display: grid;
  margin: 8rem;
  place-content: center;
  row-gap: 2rem;
}

.word {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: none;
}

.character {
  display: grid;
  width: 220px;
  height: 220px;
  border-width: 3px;
  border-style: solid;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  font-family: "ThePeakFontBeta_V0_101", "SentyCreek";
  background-color: #e1f8f6;
}

#countdown-canvas {
  opacity: 0.3;
  position: absolute;
}

.pinyin-textbox input[type=submit] {
  display: none;
}

input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid rgba(115, 189, 194, 0.5764705882);
  background: rgba(165, 185, 183, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: #000000;
  text-align: center;
  font-family: "Manrope", sans-serif;
  width: 100%;
  pointer-events: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: rgba(121, 161, 167, 0.13);
  font-family: "Manrope", sans-serif;
  text-align: center;
  padding: 0.8rem;
  border-radius: 0.2rem;
  color: rgba(103, 103, 103, 0.721);
  border: solid;
  border-color: rgba(115, 189, 194, 0.5764705882);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: rgba(83, 147, 149, 0.178);
  border: solid;
  border-color: rgba(59, 66, 59, 0.2862745098);
  color: rgba(87, 87, 87, 0.7058823529);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 0%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}/*# sourceMappingURL=main.css.map */